In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [2]:
READ_PATH1 = "../../Dataset/Home/dataTrain.csv"
READ_PATH2 = "../../Dataset/Home/dataA.csv"
df_train = pd.read_csv(READ_PATH1)
df_test = pd.read_csv(READ_PATH2)

In [3]:
df_train.head()

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f38,f39,f40,f41,f42,f43,f44,f45,f46,label
0,81167,0,1,mid,0,0,0,153,0,0,...,0,0,0,0,0,0,0,624,1539,0
1,50408,1,1,mid,0,0,21,0,0,0,...,0,0,0,0,0,0,0,186,366,0
2,9114,0,0,high,36,36,120,0,0,0,...,0,0,0,0,0,0,0,24,48,1
3,53228,1,1,low,0,0,0,0,0,0,...,0,0,0,0,0,0,3,3,9,0
4,56280,1,1,mid,9,51,294,0,0,0,...,0,0,0,0,0,0,0,42,141,0

In [4]:
df_test.head()

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f37,f38,f39,f40,f41,f42,f43,f44,f45,f46
0,1,1,1,mid,0,0,0,0,0,0,...,147,0,0,0,0,0,0,6,51,168
1,2,0,1,mid,0,0,0,0,0,0,...,111,0,0,0,0,0,6,21,219,459
2,3,0,1,high,0,0,0,0,0,0,...,102,0,0,0,0,0,0,0,18,27
3,4,0,1,mid,0,0,0,0,0,0,...,78,0,0,0,0,0,0,0,9,9
4,5,1,1,low,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,78,243

In [5]:
# 某列是否为空
# df_train.isnull().any()

In [6]:
# df_test.isnull().any()

In [7]:
Y_train = df_train["label"]
X_train = df_train.drop(["id", "label"], axis=1)

In [8]:
X_test = df_test.drop(["id"], axis=1)

In [9]:
X_train = pd.concat((X_train, pd.get_dummies(X_train["f3"], drop_first=True)), axis=1)
X_train = X_train.drop(["f3"], axis=1)

X_test = pd.concat((X_test, pd.get_dummies(X_test["f3"], drop_first=True)), axis=1)
X_test = X_test.drop(["f3"], axis=1)

In [10]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)

0.9945717530732229

In [11]:
submission = pd.DataFrame({
        "id": df_test["id"],
        "label": Y_pred
    })
submission.to_csv('../../Result/Home/RF/submission.csv', index=False)